<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.alabala.KeepScreenOn"
        version="1.0">

  <name>KeepScreenOn</name>
  <description>Function to turn on and off screen sleep timer</description>
  <license>Apache 2.0</license>
  <keywords>sleep screen lock Keep Screen On</keywords>

  <!-- android -->
  <platform name="android">

    <js-module src="www/js/keepScreenOn.js" name="keepScreenOn">
      <clobbers target="keepScreenOn" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KeepScreenOn">
        <param name="android-package" value="com.alabala.KeepScreenOn" />
      </feature>
    </config-file>
    <source-file src="src/android/com/alabala/KeepScreenOn.java" target-dir="src/com/alabala" />
  </platform>

</plugin>
